@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h3>Pelatihan Kedua Asp net Core</h3>
    <a href="Student/Index">Buka Student</a> <br/>
    <a asp-controller="Student" asp-action="Index"> Buka Student Via Asp </a>
</div>
